{% extends 'main/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block body %}
 
<div dir='rtl' class="form-content my-1 p-3 text-light">
    <div class="container">
                    <div class="card-header justify-content-center">
                        <h3 class="font-weight-light my-4 text-center">تم تسجيل الخروج بنجاح !!</h3>
                    </div>
        
                    <p class="text-center m-3"> تسجيل الدخول مجددا ؟ <a class="text-warning" data-toggle="tab" href="{% url 'login' %}">الدخول</a></p>

        </div>
    </div>
    
</section>
{% endblock %}